
@keyframes spin {
  0% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  6.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  12.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  18.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  31.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  37.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  43.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px $text-orange, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px transparent;
  }
  50% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px $text-orange, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  56.25% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px $text-orange, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  62.5% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px $text-orange, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  68.75% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px $text-orange, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  75% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px $text-orange, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  81.25% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px $text-orange, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  87.5% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px $text-orange,
      -10px -30px $text-orange;
  }
  93.75% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px $text-orange;
  }
  100% {
    box-shadow: 
      0px -30px $text-orange, 
      10px -30px $text-orange, 
      20px -20px $text-orange, 
      30px -10px $text-orange, 
      30px 0px $text-orange, 
      30px 10px $text-orange, 
      20px 20px $text-orange, 
      10px 30px $text-orange, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
}