@import '../../../scss/variables';

#log-items-container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 550px;

  .log-entry-info {
    border-bottom: 1px solid $bg-lighter;

    p {
      margin: 0;
      color: $text-orange;
      text-shadow: $text-shadow;

      span {
        color: white;
        text-shadow: $text-shadow;
      }
    }
  }

  .log-items {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;;
    max-width: 100%;
  }
}