@import '../../../scss/variables';

#log-list-container {
  border-right: $log-border;
  border-bottom: $log-border;
  padding: 0 !important;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;

  #log-list {
    p {
      color: $text-orange;
      font-size: 20px;
      text-shadow: $text-shadow;
      padding: 0 0 0 3px;
      margin: 0;
      cursor: pointer;

      &:first-child {
        box-shadow: $log-shadow;
      }

      &:nth-child(odd) {
        background-color: $bg-light;
      }

      &:hover {
        background-color: $bg-highlight;
      }
    }
  }
}