@import '../../../scss/variables';

.log-header {
  border: $log-border;
  box-shadow: $log-shadow;
  padding: 0 !important;

  @media (min-width: 992px) {
    form {
      width: 30%;
    }

    .error-message {
      width: 30%;
    }
  }

  form {
    input {
      width: 65%;
      height: 100%;
      background-color: $bg-light;
      border: none;
      box-shadow: none;
      color: white;
      text-shadow: $text-shadow;
      padding-left: 10px;
      font-size: 20px;

      &:focus {
        outline: none;
      }

      /** 
       * stupid way to get around chrome autofill background
       * color bug
       */
      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 50px $bg-light inset;
        -webkit-box-shadow: 0 0 0 50px $bg-light inset;
        -webkit-text-fill-color: white;
      }
    }

    button {
      width: 35%;
      height: 100%;
      border-bottom: none;
      border-top: none;
    }
  }

  .page-title {
    margin: 3px;
    flex-grow: 1;

    h1 {
      font-size: 24px;

      img {
        width: 15px;
        filter: $account-type-shadow;
        margin-right: 5px;
        margin-top: -10px;
      }
    }

    p {
      font-size: 20px;
      margin: 0;
    }
  }

  .error-message {
    font-size: 20px;
    color: rgb(255, 108, 108);
    text-shadow: $text-shadow;
    text-align: center;

    p {
      margin: 0;
    }
  }
}