@import '../../../scss/variables';

.log-header {
  border: $log-border;
  box-shadow: $log-shadow;
  padding: 0 !important;

  @media (min-width: 992px) {
    form {
      width: 30%;
    }

    .error-message {
      width: 30%;
    }
  }

  form {
    input {
      width: 65%;
      height: 100%;
      background-color: $bg-light;
      border: none;
      box-shadow: none;
      color: white;
      text-shadow: $text-shadow;
      padding-left: 10px;
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 35%;
      height: 100%;
      border-bottom: none;
      border-top: none;
    }
  }

  h4 {
    margin: 3px;
    position: relative;
    left: 0;

    p {
      color: $text-orange;
      font-size: 20px;
      margin: 0;
    }
  }

  .error-message {
    font-size: 20px;
    color: rgb(255, 108, 108);
    text-shadow: $text-shadow;
    text-align: center;

    p {
      margin: 0;
    }
  }
}