@import '../../../scss/variables';

.hiscores-list {
  background-color: $bg-primary;
  border-left: $log-border;
  border-right: $log-border;
  border-bottom: $log-border;
  text-align: center;

  .hiscore {

    &:nth-child(even) {
      background-color: $bg-light;
    }

    img {
      height: 60%;
      margin-right: 5px;
    }

    p {
      color: $text-orange;
      text-shadow: $text-shadow;
      margin: 0;
      font-size: 24px;

      &.rank {
        color: white;
      }

      &.counts {
        color: $text-yellow;
      }

      a {
        color: $text-orange;
      }
    }
  }
}