@import "../assets/css/_animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 15% 15%;
    --foreground: 0 0% 100%;

    --card: 30 16% 25%;
    --card-foreground: 0 0% 100%;

    --popover: 33 15% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 32 8% 40%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --active: 34 20% 20%;

    --light: 35 12% 30%;
    --lighter: 30 13% 30%;
    --lightest: 30 13% 40%;

    --border: 0 0% 0%;
    --input: 33 15% 15%;
    --input-focus: 34 24% 17%;
    --ring: 35 12% 30%;

    --radius: 0.5rem;

    --rs-green: #00C600;
    --rs-orange: #FF9300;
    --rs-red: #FA1818;
    --rs-yellow: #FEFF00;

    --btn-primary: linear-gradient(-140deg, grey 7px, transparent 0),
    linear-gradient(-140deg, black 8px, transparent 0),
    linear-gradient(140deg, grey 7px, transparent 0),
    linear-gradient(140deg, black 8px, transparent 0),
    linear-gradient(-40deg, grey 7px, transparent 0),
    linear-gradient(-40deg, black 8px, transparent 0),
    linear-gradient(40deg, grey 7px, transparent 0),
    linear-gradient(40deg, black 8px, hsl(var(--light)) 0), no-repeat 100% 0;
    --btn-primary-accent: linear-gradient(-135deg, grey 7px, transparent 0),
    linear-gradient(-135deg, black 8px, transparent 0),
    linear-gradient(135deg, grey 7px, transparent 0),
    linear-gradient(135deg, black 8px, transparent 0),
    linear-gradient(-45deg, grey 7px, transparent 0),
    linear-gradient(-45deg, black 8px, transparent 0),
    linear-gradient(45deg, grey 7px, transparent 0),
    linear-gradient(45deg, black 8px, hsl(var(--accent)) 0), no-repeat 100% 0;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 210 40% 98%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 22%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --active: 0 0% 25%;

    --light: 0 0% 17%;
    --lighter: 0 0% 20%;
    --lightest: 0 0% 30%;

    --border: 0 0% 0%;
    --input: 0 0% 9%;
    --input-focus: 0 0% 17%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply text-shadow scroll-log-light border-border;
    font-family: 'Runescape', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3 {
    @apply font-bold text-rs-orange;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-rs-orange underline transition-colors hover:text-white;
  }

  ul {
    @apply ml-4;
    list-style-type: '*';
  }

  ol {
    @apply list-decimal ml-4;
  }

  ul > li {
    @apply pl-2;
  }

  code {
    @apply bg-background p-1;
    font-size: 12px;
    font-family: monospace;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-card shadow-log;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0 black;
  }

  .scroll-log-light {
    scrollbar-color: hsl(var(--card)) hsl(var(--background));
    scrollbar-width: thin;
    scrollbar-highlight-color: hsl(var(--accent));
  }

  .scroll-log-dark {
    scrollbar-color: hsl(var(--background)) hsl(var(--card));
    scrollbar-width: thin;
    scrollbar-highlight-color: hsl(var(--accent));
  }

  button.btn-cutout {
    -webkit-mask: radial-gradient(circle 5px at top left, #0000 98%, #000) top left,
    radial-gradient(circle 5px at top right, #0000 98%, #000) top right,
    radial-gradient(circle 5px at bottom left, #0000 98%, #000) bottom left,
    radial-gradient(circle 5px at bottom right, #0000 98%, #000) bottom right;
    -webkit-mask-size: 51% 51%;
    -webkit-mask-repeat: no-repeat;
    @apply bg-background p-3;
  }

  button.btn-primary {
    @apply shadow-button;
    background: var(--btn-primary);
    border-radius: 5px;
    color: white;
  }

  button.btn-primary:hover {
    background: var(--btn-primary-accent);
  }

  .icon-shadow {
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  }

  .bit-spinner {
    animation: spin 1s linear infinite;
    height: 10px;
    width: 10px;
    margin: auto;
  }

  .popover-trigger-w {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

@font-face {
  font-family: 'Runescape';
  src: local('Runescape'),
  url('../assets/fonts/runescape.ttf') format('truetype');
}

@font-face {
  font-family: 'Runescape';
  src: local('Runescape'),
  url('../assets/fonts/runescape-bold.ttf') format('truetype');
  font-weight: bold;
}
