@import '../../../scss/variables';

.recent-items-container {
  background-color: $bg-primary;
  border: $log-border;
  border-top: none;
  padding: 10px;

  .recent-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

    .item {
      width: auto;

      .item-quantity {
        display: none;
      }

      .item-img-container {
        height: auto;
      }

      &:hover .item-tooltip {
        display: none;
      }

      &:hover .item-img-container {
        display: block;
      }
    }

    .description {
      color: white;
      text-shadow: $text-shadow;
      font-size: 18px;

      p {
        margin: 0;
      }
    }
  }
}