@import '../../../scss/variables';

.item {
  &:hover .item-tooltip {
    display: block;
    height: 100%;
    text-align: center;

    a {
      display: block;
      padding-top: 10px;
      height: 100%;
      width: 100%;
      color: white;
      text-shadow: $text-shadow;
      text-decoration: none;
    }
  }

  &:hover .item-img-container {
    display: none;
  }

  .item-quantity {
    position: relative;
    top: 20%;
    left: 15%;
    color: $text-yellow;
  }

  .item-tooltip {
    display: none;
  }

  .item-img-container {
    display: flex;
    justify-content: center;
    height: 90%;

    img {
      opacity: 0.35;

      &.item-obtained {
        opacity: 1;
      }
    }
  }
}