@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/variables';
@import './scss/utlities.scss';

h1, h2, h3, h4, h5 {
  color: $text-orange;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: underline;
  color: $text-orange;

  &:hover {
    color: white;
  }
}

body {
  margin: 0;
  font-family: 'Runescape', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-dark;
  text-shadow: $text-shadow;
}

.log-button {
  padding: 10px;
  background-color: $bg-primary;
  border: 2px solid $bg-lighter;
  font-size: 20px;
  color: $text-orange;
  text-shadow: $text-shadow;

  &:hover {
    background-color: $bg-highlight;
    color: $text-orange;
  }
}

.spacer {
  width: 30%;
}

input {
  text-shadow: $text-shadow;

  /** 
  * stupid way to get around chrome autofill background
  * color bug
  */
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px $bg-light inset;
    -webkit-box-shadow: 0 0 0 50px $bg-light inset;
    -webkit-text-fill-color: white;
  }

  &::placeholder {
    text-shadow: $text-shadow;
  }
}
