@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/variables';
@import './assets/scss/utlities.scss';

html, body {
  height: 100%;
}

body {
  font-family: 'Runescape', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-dark;
  text-shadow: $text-shadow;
}

h1, h2, h3 {
  color: $text-orange;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size:1.15rem;
}

a {
  color: $text-orange;
  text-decoration: underline;

  :visited {
    color: $text-orange;
  }
}

p {
  color: white;
}

select {
  &:focus {
    outline: none;
  }

  option {
    font-family: 'Runescape', monospace;
    font-size: 16px;

    &:checked, &:hover {
      background-color: $bg-highlight;
      padding: 5px;
    }
  }
}

button {
  &:focus {
    outline: none;
    background-color: $bg-highlight;
  }

  &:disabled {
    background-color: transparent;
    color: darkgray;

    &:hover {
      background-color: transparent;
    }
  }
}

input {
  text-shadow: $text-shadow;

  /**
  * stupid way to get around chrome autofill background
  * color bug
  */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px $bg-light inset;
    -webkit-box-shadow: 0 0 0 50px $bg-light inset;
    -webkit-text-fill-color: white;
  }

  &::placeholder {
    text-shadow: $text-shadow;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $bg-dark;
}

::-webkit-scrollbar-thumb {
  background: $bg-primary;
  box-shadow: $log-shadow;
}

::-webkit-scrollbar-thumb:hover {
  background: $bg-highlight;
}