$bg-primary: #493F35;
$bg-dark: darken($bg-primary, 10%);
$bg-darker: darken($bg-primary, 25%);
$bg-light: #564E43;
$bg-lighter: #564C42;
$bg-highlight: #6F675E;

$text-green: #00C600;
$text-orange: #FF9300;
$text-yellow: #FEFF00;

$text-shadow: 2px 2px 0px black;

$log-border: 4px solid $bg-darker;
$log-border-image: url('../public/img/log_border.png') 10 repeat;
$log-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2);

@font-face {
  font-family: 'Runescape';
  src: local('Runescape'), url('../fonts/runescape.ttf') format('truetype');
}