@import '../../../scss/variables';

.hiscores-header {
  margin-top: 10px;
  background-color: $bg-primary;
  border: $log-border;

  h1::first-letter {
    text-transform: capitalize;
  }

  .page {
    width: 20%;

    &.right {
      text-align: right;
    }

    a {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
}