@import '../../../scss/variables';

.hiscores-header {
  margin-top: 10px;
  background-color: $bg-primary;
  border: $log-border;

  h1::first-letter {
    text-transform: capitalize;
  }

  .page {
    width: 20%;

    &.right {
      text-align: right;
    }

    a {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .hiscores-filters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: $text-orange;
      text-shadow: $text-shadow;
      font-size: 20px;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;

      &.filter-active {
        color: white;
      }

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}